<!-- THE HAED -->
<%- include('partials/head', {title})%>
    <!-- THE NAV -->
    <%- include('partials/nav')%>
        <!-- THE BODY -->
        <div class="container">
            <h2 class="">
                Here are some of the albums
            </h2>
            <div class="row">
                <% for( let i=0; i < result.length; i++ ) { %>
                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <a href="/albums/<%= result[i].Album_ID %> "> <img class=" card-img-top"
                                    src="<%= result[i].Image_Url %>" alt="Card image cap"> </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= result[i].Album_Name %>
                                </h5>
                                <p class="card-text">
                                    <a href="/artists/<%= result[i].Artist_ID %> ">
                                        <%= result[i].Artist_Name %>
                                    </a><br>
                                </p>
                                <a href="/albums/<%= result[i].Album_ID %> ">See Songs</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <a class="btn btn-primary" href="/albums?start=<%= parseInt(info.start) - 20 %>&len=20">Prev</a>
            <a class="btn btn-primary" href="/albums?start=<%= parseInt(info.start) +20 %>&len=20">Next</a>

        </div>

        <!-- THE FOOTER -->
        <%- include('partials/footer')%>